p {
    font-size: 20px;
}

.btn-toolbar {
    font-size: 20px;
    margin-right: 15px;
    margin-top: 10px;
}

.btn-toolbar a {
    text-decoration: none;
    color: #ffffff !important;
}

/* originele css */
h1 {
    color: #FCA205;
    font-family: 'Lobster';
    text-align: center;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h2, h3, h4 {
    color: #FCA205;
    font-family: 'Arial', cursive;
}

h2 a:hover {
    color: grey;
}

.boom {
  background-color: yellow;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    width:100%;
    color: #757575;
    font-size:15px;
    font-weight:400;
    padding-left: 150px;
    padding-right: 150px;
    background:rgb(205,255,205);
    margin-bottom: 20px;
    border-radius:25px;
    border:0px;
    box-shadow:none;
    outline:none;
}

.addButton {
    width:100%;
    color: #757575;
    font-size:15px;
    font-weight:400;
    padding: 10px;
    background:rgb(205,255,205);
    margin-bottom: 20px;
    border-radius:25px;
    border:0px;
    box-shadow:none;
    outline:none;

}

.post {
    margin-bottom: 10px;
    width:100%;
    padding-top:3px;
    padding-bottom:3px;
    background:#ffe6c1;
    box-shadow:0px 2px 4px rgba(44,62,80,0.15);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    box-shadow:0px 0px 0px;
}

a.btn:hover {
    background: white;
}
