h1 {
    color: #FCA205;
    font-family: 'Lobster';
    text-align: center;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h2, h3, h4 {
    color: #FCA205;
    font-family: 'Arial', cursive;
}

h2 a:hover {
    color: grey;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 10px;
    width:100%;
    padding-top:3px;
    padding-bottom:3px;
    background:#ffe6c1;
    box-shadow:0px 2px 4px rgba(44,62,80,0.15);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    box-shadow:0px 0px 0px;
}

a.btn:hover {
    background: white;
}


/* TESTING FOR JS CSS KRYPTON EXAMPLE*/
body {
    background-image: url('http://bit.ly/UpQgJ6');
    repeat: no-repeat;
}

div {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #008800;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#003500), to(#008800));
    background-image: -webkit-linear-gradient(left, #003500, #008800);
    background-image:    -moz-linear-gradient(left, #003500, #008800);
    background-image:     -ms-linear-gradient(left, #003500, #008800);
    background-image:      -o-linear-gradient(left, #003500, #008800);
}

.red {
    background-color: #CC0000;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#330000), to(#CC0000));
    background-image: -webkit-linear-gradient(left, #330000, #CC0000);
    background-image:    -moz-linear-gradient(left, #330000, #CC0000);
    background-image:     -ms-linear-gradient(left, #330000, #CC0000);
    background-image:      -o-linear-gradient(left, #330000, #CC0000);
}
